In [1]:
import pandas as pd
r=pd.read_csv('risk.csv')
r

   index income recreation  status  risk
0      0      m         sk  single  high
1      1      h       golf      me   low
2      2      l         sw      me   med
3      3      m         fb  single   low
4      4      h         fy      me  high
5      5      l         fb  single   med
6      6      m       golf  single   med
7      7      m       golf      me   low
8      8      h         sk  single  high
9      9      l       golf      me  high

In [2]:
tr=len(r)

In [3]:
tr

10

In [5]:
golf=len(r[r['recreation']=='golf'])
golf

4

In [6]:
mr=len(r[r['risk']=='med'])
mr

3

In [13]:
mrs=len(r[(r['risk']=='med')&(r['status']=='single')])
mrs

2

In [14]:
pg=golf/tr
pg

0.4

In [15]:
pmrs=mrs/tr
pmrs

0.2

In [19]:
cp=pmrs/pm
cp

0.6666666666666667

In [18]:
pm=mr/tr
pm

0.3

In [21]:
print('probability of staus being single above given risk is medrisk: ',round(cp,3))

probability of staus being single above given risk is medrisk:  0.667